.container {
    display:flex;
    flex-wrap: wrap;  /* flex-wrap gör att när en hemsida blir mindre så ändrar flexboxen postion*/
    justify-content: center;
    height: auto;
}  
/*för div elementet med allting i sig.*/
.box-2colors{ /*använder man width:1000px; blir det inget flow ( att inneholet flyttar undansig när skärmen blir mindre)*/
    margin:0px 220px;    
    background:linear-gradient(to bottom, #A8A19E 50%, #f9b10b 50%);

    
}


/*box 1, white*/
div.papper{
    background-color:white;
    text-align: center;
    width:200px ;
    min-height:260px ;
    margin:35px 10px ;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 #3534348f;
}
/*p text till 3 bild flexboxes*/
.papper-text{
    margin:0;
    padding:0 6px;
    text-align: center;
    font-weight:bold; 
    font-size: 8.5px;
    font-family:cursive; /*fix font family*/
    color:#313131d0;
    
}
/*head line h4 till 3 bild flexboxes*/
.papper-h4{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/*box 2 */
.flexbox-box2 {
    margin:-15px 5.5% 0px;
    width:180px;
    height:110px;
    border-radius: 5px;
    justify-content: center;
    object-fit: cover; /* cover and hidden passar bra.måste anropa storleken i html*/
    overflow:hidden;
}

/*alla 3 bild boxarna. child,adult,old*/
.child{
    background-color:#c6dde9;
    padding: 10px 0 0 0;
}

.adult{
    background-color:#f9b131;
    padding: 10px 0 0 0;
}

.old{

    background-color:#f07949;
    padding: 10px 0 0 0;
}
/*slutet av alla 3 bild boxarna. child,adult,old*/

/*övrigt på sidan*/


/* ---*/
.button {
    background-color:white;
    border:non;
    color:#1b1b1b;
    padding:15px 35px;
    text-align:center;
    text-decoration:none;
    font-size:10px;
    line-height:5px;
    font-family: Helvetica;/*fix font*/
    font-weight:bold; 
    display:inline-block;
    margin:4px 2px;
    box-shadow:0 3px #919191ab;
    border-radius: 25px;
} 

.flexbox-container-1{  /*första rubtiken och texten på sidan. innan 3 bilder*/
    padding:20px 0px  ;
    align-items: baseline;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    

}
.flexbox-container-2{ /* andra texten på sidan. under 3 bilder*/
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

.flexbox-item {
    margin: 50px 20px 7px 20px;

}
.flexbox-headline-1 {  /* första headline på dubble färg delen*/
    width:250px;
    text-align: left;
    color:white;
}
.flexbox-headline-2 { /* andra headline på dubble färg delen"*/
    text-align: center;
    color:white;
}
.flexbox-text-1 { /*första texten på dubble färg delen*/
   width:270px;
   text-align:left;
   font-size:13px;
   font-family:cursive; /*fix font family*/
   color:#242424;

}
.flexbox-text-2 { /*andra texten på dubble färg delen*/
    margin:10px 0 10% 0px;
    width:500px;
    text-align:center;
    justify-content: center;
    font-size:13px bold;
    font-family:cursive; /*fix font family*/
    color:#242424;
 
 }

/*-----*/
